body{

font-family:Arial;
margin:0;
background:#f5f7fb;

}

header{

background:#0a2540;
color:white;
text-align:center;
padding:40px;

}

section{

width:80%;
margin:auto;
padding:40px;

}

h2{

color:#0a2540;

}

.card{

background:white;
padding:20px;
margin:20px 0;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

.skills{

display:flex;
flex-wrap:wrap;
gap:10px;

}

.skill{

background:#0a2540;
color:white;
padding:10px 15px;
border-radius:20px;

}

footer{

background:#0a2540;
color:white;
text-align:center;
padding:20px;

}
